{% extends 'base.html.twig' %}

{% block body %}

  <!-- Page Content -->
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-header">{{ mode == "new" ? "New client" : "Modify client" }}</h1>
        </div>
        <div class="col-md-12">
          <form role="form" method="post">
                <div class="form-group">
                  <label for="title">Title</label>
                    <select id="title" name="form[title]" class="form-control">
                        {% for title in titles %}
                              <option value="{{ title }}" {{ title == form.title ? 'selected="selected"' : '' }}>{{ title | capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input id="name" name="form[name]" class="form-control" value="{{ form.name is defined ? form.name : '' }}">
                </div>
                <div class="form-group">
                  <label for="lastName">Lastname</label>
                  <input id="lastName" name="form[lastName]" class="form-control" value="{{ form.lastName is defined ? form.lastName : '' }}">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input id="address" name="form[address]" class="form-control" value="{{ form.address is defined ? form.address : '' }}">
                </div>
              <div class="form-group">
                  <label for="zipCode">Zip code</label>
                  <input id="zipCode" name="form[zipCode]" class="form-control" value="{{ form.zipCode is defined ? form.zipCode : '' }}">
              </div>
              <div class="form-group">
                  <label for="city">City</label>
                  <input id="city" name="form[city]" class="form-control" value="{{ form.city is defined ? form.city : '' }}">
              </div>
              <div class="form-group">
                  <label for="state">State</label>
                  <input id="state" name="form[state]" class="form-control" value="{{ form.state is defined ? form.state : '' }}">
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" name="form[email]" class="form-control" value="{{ form.email is defined ? form.email : '' }}">
              </div>
            <button type="submit" class="btn btn-primary">Speichern</button>
          </form>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
{% endblock %}
